#footer {
    margin-bottom: 50px;
    text-align: center;
}

.social-icon {
    padding: 20px 10px;
    font-size: 2rem;
    color: var(--chefkart-orange);
}

.social-icon:hover {
    color: black;
}

#heart {
    color: red;
    padding: 5px;
}